<%- include('./common/header') %>
    <div class="ad-form-area">
        <div class="cs-container">

            <div class="homepage_top">
                <div class="homepageTop_comp">
                    <p>Total Supply</p>
                    <p id="totalSupply" style="font-size:large;color:#1FC1C3">15,164,493.306845 TMAC</p>
                    <div class="view-blk" onclick="window.location.href = '#/richlist'">
                        <p>View rich list</p>
                        <img src="/img/arrowRight.svg">
                    </div>
                </div>
                <div class="homepageTop_comp bdr-rg bdr-lf">
                    <p>Last block</p>
                    <p id="lastBlock" style="font-size: large;color:#1FC1C3">8009020</p>
                    <div class="view-blk">
                        <p>View all blocks</p><img src="/img/arrowRight.svg">
                    </div>
                </div>
                <div class="homepageTop_comp">
                    <p>Total witness</p>
                    <p id="totalwitness" style="font-size: large;color:#1FC1C3">27</p>
                    <div class="view-blk" onclick="window.location.href = '#/witness'">
                        <p>View all witness</p><img src="/img/arrowRight.svg">
                    </div>
                </div>
            </div>

            <form action="/verify" method="post" class="search-username-fm">
                <label for="fname">Username</label>
                <div class="input-wrapper">
                    <input type="text" id="fname" name="username" placeholder="Your name..">
                    <button type="submit" class="box-btn">Search</button>
                </div>
            </form>

            <% if(data!=false) { %>
                <div class="response-content">
                    <div class="response-content-inner">
                        <div class="cls-modal"><svg xmlns="http://www.w3.org/2000/svg"
                                enable-background="new 0 0 47.5 47.5" viewBox="0 0 47.5 47.5">
                                <defs>
                                    <clipPath id="a">
                                        <path d="M0 38h38V0H0v38Z" />
                                    </clipPath>
                                </defs>
                                <g clip-path="url(#a)" transform="matrix(1.25 0 0 -1.25 0 47.5)">
                                    <path fill="#000000"
                                        d="m0 0 12.234 12.234a2.5 2.5 0 1 1-3.535 3.536L-3.535 3.535-15.77 15.77a2.5 2.5 0 1 1-3.535-3.536L-7.07 0l-12.262-12.262a2.498 2.498 0 0 1 1.768-4.268c.639 0 1.279.244 1.767.733L-3.535-3.535 8.699-15.769a2.494 2.494 0 0 1 1.768-.732 2.498 2.498 0 0 1 1.767 4.267L0 0Z"
                                        transform="translate(22.533 18.998)" />
                                </g>
                            </svg></div>
                        <form action="/editUser/<%= username %>" method="post">
                            <div class="message-content">
                                <p>Username : <%= username %>
                                </p>
                                <p>Status : <% if(status==true) { %> Verified <% } else {%> Denied <% } %>
                                </p>
                            </div>
                            <div class="selection-wrap">
                                <label for="fname">Change status to </label>
                                <select id="country" name="status">
                                    <% if(status!=true) { %>
                                        <option value="true">verified</option>
                                        <% } %>

                                            <% if(status!=false) { %>
                                                <option value="false">denied</option>
                                                <% } %>
                                </select>
                            </div>
                            <div class="submit-btn-rw">
                                <input type="submit" value="Update">
                            </div>
                        </form>

                        <form action="/deleteUser/<%= username %>" id="dUser" method="post">
                            <button type="button" class="delete-btn" onclick="checker()">delete</button>
                        </form>
                    </div>
                </div>
                <% } else if(add==true){ %>
                    <div class="response-content">
                        <div class="response-content-inner">
                            <div class="cls-modal"><svg xmlns="http://www.w3.org/2000/svg"
                                    enable-background="new 0 0 47.5 47.5" viewBox="0 0 47.5 47.5">
                                    <defs>
                                        <clipPath id="a">
                                            <path d="M0 38h38V0H0v38Z" />
                                        </clipPath>
                                    </defs>
                                    <g clip-path="url(#a)" transform="matrix(1.25 0 0 -1.25 0 47.5)">
                                        <path fill="#000000"
                                            d="m0 0 12.234 12.234a2.5 2.5 0 1 1-3.535 3.536L-3.535 3.535-15.77 15.77a2.5 2.5 0 1 1-3.535-3.536L-7.07 0l-12.262-12.262a2.498 2.498 0 0 1 1.768-4.268c.639 0 1.279.244 1.767.733L-3.535-3.535 8.699-15.769a2.494 2.494 0 0 1 1.768-.732 2.498 2.498 0 0 1 1.767 4.267L0 0Z"
                                            transform="translate(22.533 18.998)" />
                                    </g>
                                </svg></div>
                            <p class="message-para">
                                There is no user with this username , want you add <strong>
                                    <%= username %>
                                </strong> it to db ?
                            </p>
                            <form action="/addUser/<%= username %>" method="post">
                                <div class="selection-wrap">
                                    <label for="fname">Status</label>
                                    <select id="country" name="status">
                                        <option value="true">verified</option>
                                        <option value="false">denied</option>
                                    </select>
                                </div>
                                <div class="submit-btn-rw">
                                    <input type="submit" value="Add">
                                </div>
                            </form>
                        </div>
                    </div>
                    <% } %>
        </div>
    </div>

    <div class="users-table-area">
        <div class="cs-container">
            <div id="userTab">
                <ul class="tab-triggers">
                    <li class="tab-link current" data-tab="verified-tab"><span>Verified</span></li>
                    <li class="tab-link" data-tab="pending-tab"><span>Pending</span></li>
                    <li class="tab-link" data-tab="denied-tab"><span>Denied</span></li>
                </ul>

                <div class="tab-contents-wrapper">
                    <div class="tb-content current" id="verified-tab">
                        <div class="tb-inner">
                            <div class="tbl-cmn-rw">
                                <%if (verified.length !=0){ %>
                                    <h3 class="tbl-title text-center"><span>Verifed Users</span></h3>
                                    <div class="tbl-scroll-wrapper">
                                        <div class="tbl-header">
                                            <div class="tbl-th">Username</div>
                                            <div class="tbl-th">requestedBy</div>
                                            <div class="tbl-th">requested By Id ID</div>
                                            <div class="tbl-th">status Updated By</div>
                                            <div class="tbl-th">status Updated By Id</div>
                                            <div class="tbl-th">status Updated Time</div>
                                            <div class="tbl-th">status</div>
                                        </div>
                                        <div class="tbl-body">
                                            <% verified.forEach(function(row){ %>
                                                <div class="tbl-body-rw">
                                                    <div class="tbl-td">
                                                        <%= row.username %>
                                                    </div>
                                                    <div class="tbl-td">
                                                        <%= row.requestedBy %>
                                                    </div>
                                                    <div class="tbl-td">
                                                        <%= row.requestedById %>
                                                    </div>
                                                    <div class="tbl-td">
                                                        <%= row.statusUpdateBy %>
                                                    </div>
                                                    <div class="tbl-td">
                                                        <%= row.statusUpdateById %>
                                                    </div>
                                                    <div class="tbl-td">
                                                        <%= row.statusUpdateTime %>
                                                    </div>
                                                    <div class="tbl-td">
                                                        <% if(row.status==true) { %> Verified <% } else {%>
                                                                Denied <% } %>
                                                    </div>
                                                </div>
                                                <% })} %>
                                        </div>
                                        </table>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="tb-content" id="pending-tab">
                        <div class="tb-inner">
                            Pending Tab pane
                        </div>
                    </div>
                    <div class="tb-content" id="denied-tab">
                        <div class="tb-inner">
                            <div class="tbl-cmn-rw">
                                <%if (denied.length !=0){ %>
                                    <h3 class="tbl-title text-center"><span>Denied Users</span></h3>
                                    <div class="tbl-scroll-wrapper">
                                        <div class="tbl-header">
                                            <div class="tbl-th">Username</div>
                                            <div class="tbl-th">requestedBy</div>
                                            <div class="tbl-th">requested By Id ID</div>
                                            <div class="tbl-th">status Updated By</div>
                                            <div class="tbl-th">status Updated By Id</div>
                                            <div class="tbl-th">status Updated Time</div>
                                            <div class="tbl-th">status</div>
                                        </div>
                                        <div class="tbl-body">
                                            <% denied.forEach(function(row){ %>
                                                <div class="tbl-body-rw">
                                                    <div class="tbl-td">
                                                        <%= row.username %>
                                                    </div>
                                                    <div class="tbl-td">
                                                        <%= row.requestedBy %>
                                                    </div>
                                                    <div class="tbl-td">
                                                        <%= row.requestedById %>
                                                    </div>
                                                    <div class="tbl-td">
                                                        <%= row.statusUpdateBy %>
                                                    </div>
                                                    <div class="tbl-td">
                                                        <%= row.statusUpdateById %>
                                                    </div>
                                                    <div class="tbl-td">
                                                        <%= row.statusUpdateTime %>
                                                    </div>
                                                    <div class="tbl-td">
                                                        <% if(row.status==true) { %> Verified <% } else {%>
                                                                Denied <% } %>
                                                    </div>
                                                </div>
                                                <% })} %>
                                        </div>
                                        </table>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        function checker() {
            if (window.confirm("Are you sure")) {
                document.getElementById("dUser").submit();
            } else {
                return;
            }
        }

        let tabFunc = function (parentId) {
            //get all tab link elements
            let tabTriggers = document.querySelectorAll(`${parentId} .tab-link`);
            //get all tab content elements
            let tabContent = document.querySelectorAll(`${parentId} .tb-content`);
            //loop through each tab
            tabTriggers.forEach(function (each) {
                {
                    each.addEventListener('click', function () {
                        //each time tab clicked remove all current classes
                        //remove 'current' class from all tabs
                        for (let i = 0; i < tabTriggers.length; i++) {
                            tabTriggers[i].classList.remove('current');
                        };
                        //remove 'current' class from all tab content
                        for (let i = 0; i < tabContent.length; i++) {
                            tabContent[i].classList.remove('current');
                        };
                        //add current class back to the clicked tab
                        this.className += ' current';
                        //get data-tab attribute of what has been clicked
                        let matchingTab = this.getAttribute('data-tab');
                        //add current class to the tabContent element thats id matches the data-tab of the clicked tab
                        document.getElementById(matchingTab).className += ' current';
                    })
                }
            })
        }

        tabFunc('#userTab');

    </script>
    <%- include('./common/footer') %>