<%- include('./common/header') %>
    <div class="ad-form-area">
        <div class="cs-container">
            <form action="/verify" method="post" class="search-username-fm">
                <label for="fname">Username</label>
                <div class="input-wrapper">
                    <input type="text" id="fname" name="username" placeholder="Your name..">
                    <button type="submit" class="box-btn">Search</button>
                </div>
            </form>

            <div class="cs-modal-wrapper">
                <div class="cs-modal-inner">
                    <% if(data!=false) { %>
                        <div class="response-content">
                            <form action="/editUser/<%= username %>" method="post">
                                <div class="message-content">
                                    <p>Username : <%= username %>
                                    </p>
                                    <p>Status : <% if(status==true) { %> Verified <% } else {%> Denied <% } %>
                                    </p>
                                </div>
                                <div class="selection-wrap">
                                    <label for="fname">Change status to </label>
                                    <select id="country" name="status">
                                        <% if(status!=true) { %>
                                            <option value="true">verified</option>
                                            <% } %>

                                                <% if(status!=false) { %>
                                                    <option value="false">denied</option>
                                                    <% } %>
                                    </select>
                                </div>
                                <div class="submit-btn-rw">
                                    <input type="submit" value="Update">
                                </div>
                            </form>
                        </div>
                        <form action="/deleteUser/<%= username %>" id="dUser" method="post">
                            <button type="button" class="delete-btn" onclick="checker()">delete</button>
                        </form>
                        <% } else if(add==true){ %>
                            <div class="response-content">
                                <p class="message-para">
                                    There is no user with this username , want you add <strong>
                                        <%= username %>
                                    </strong> it to db ?
                                </p>
                                <form action="/addUser/<%= username %>" method="post">
                                    <div class="selection-wrap">
                                        <label for="fname">Status</label>
                                        <select id="country" name="status">
                                            <option value="true">verified</option>
                                            <option value="false">denied</option>
                                        </select>
                                    </div>
                                    <div class="submit-btn-rw">
                                        <input type="submit" value="Add">
                                    </div>
                                </form>
                            </div>
                            <% } %>
                </div>
            </div>
        </div>
    </div>

    <div class="users-table-area">
        <div class="cs-container">
            <div id="userTab">
                <ul class="tab-triggers">
                    <li class="tab-link current" data-tab="verified-tab"><span>Verified</span></li>
                    <li class="tab-link" data-tab="pending-tab"><span>Pending</span></li>
                    <li class="tab-link" data-tab="denied-tab"><span>Denied</span></li>
                </ul>

                <div class="tab-contents-wrapper">
                    <div class="tb-content current" id="verified-tab">
                        <div class="tb-inner">
                            <div class="tbl-cmn-rw">
                                <%if (verified.length !=0){ %>
                                    <h3 class="tbl-title text-center"><span>Verifed Users</span></h3>
                                    <div class="tbl-scroll-wrapper">
                                        <div class="tbl-header">
                                            <div class="tbl-th">Username</div>
                                            <div class="tbl-th">requestedBy</div>
                                            <div class="tbl-th">requested By Id ID</div>
                                            <div class="tbl-th">status Updated By</div>
                                            <div class="tbl-th">status Updated By Id</div>
                                            <div class="tbl-th">status Updated Time</div>
                                            <div class="tbl-th">status</div>
                                        </div>
                                        <div class="tbl-body">
                                            <% verified.forEach(function(row){ %>
                                                <div class="tbl-body-rw">
                                                    <div class="tbl-td">
                                                        <%= row.username %>
                                                    </div>
                                                    <div class="tbl-td">
                                                        <%= row.requestedBy %>
                                                    </div>
                                                    <div class="tbl-td">
                                                        <%= row.requestedById %>
                                                    </div>
                                                    <div class="tbl-td">
                                                        <%= row.statusUpdateBy %>
                                                    </div>
                                                    <div class="tbl-td">
                                                        <%= row.statusUpdateById %>
                                                    </div>
                                                    <div class="tbl-td">
                                                        <%= row.statusUpdateTime %>
                                                    </div>
                                                    <div class="tbl-td">
                                                        <% if(row.status==true) { %> Verified <% } else {%>
                                                                Denied <% } %>
                                                    </div>
                                                </div>
                                                <% })} %>
                                        </div>
                                        </table>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="tb-content" id="pending-tab">
                        <div class="tb-inner">
                            Pending Tab pane
                        </div>
                    </div>
                    <div class="tb-content" id="denied-tab">
                        <div class="tb-inner">
                            <div class="tbl-cmn-rw">
                                <%if (denied.length !=0){ %>
                                    <h3 class="tbl-title text-center"><span>Denied Users</span></h3>
                                    <div class="tbl-scroll-wrapper">
                                        <div class="tbl-header">
                                            <div class="tbl-th">Username</div>
                                            <div class="tbl-th">requestedBy</div>
                                            <div class="tbl-th">requested By Id ID</div>
                                            <div class="tbl-th">status Updated By</div>
                                            <div class="tbl-th">status Updated By Id</div>
                                            <div class="tbl-th">status Updated Time</div>
                                            <div class="tbl-th">status</div>
                                        </div>
                                        <div class="tbl-body">
                                            <% verified.forEach(function(row){ %>
                                                <div class="tbl-body-rw">
                                                    <div class="tbl-td">
                                                        <%= row.username %>
                                                    </div>
                                                    <div class="tbl-td">
                                                        <%= row.requestedBy %>
                                                    </div>
                                                    <div class="tbl-td">
                                                        <%= row.requestedById %>
                                                    </div>
                                                    <div class="tbl-td">
                                                        <%= row.statusUpdateBy %>
                                                    </div>
                                                    <div class="tbl-td">
                                                        <%= row.statusUpdateById %>
                                                    </div>
                                                    <div class="tbl-td">
                                                        <%= row.statusUpdateTime %>
                                                    </div>
                                                    <div class="tbl-td">
                                                        <% if(row.status==true) { %> Verified <% } else {%>
                                                                Denied <% } %>
                                                    </div>
                                                </div>
                                                <% })} %>
                                        </div>
                                        </table>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        function checker() {
            if (window.confirm("Are you sure")) {
                document.getElementById("dUser").submit();
            } else {
                return;
            }
        }

        let tabFunc = function (parentId) {
            //get all tab link elements
            let tabTriggers = document.querySelectorAll(`${parentId} .tab-link`);
            //get all tab content elements
            let tabContent = document.querySelectorAll(`${parentId} .tb-content`);
            //loop through each tab
            tabTriggers.forEach(function (each) {
                {
                    each.addEventListener('click', function () {
                        //each time tab clicked remove all current classes
                        //remove 'current' class from all tabs
                        for (let i = 0; i < tabTriggers.length; i++) {
                            tabTriggers[i].classList.remove('current');
                        };
                        //remove 'current' class from all tab content
                        for (let i = 0; i < tabContent.length; i++) {
                            tabContent[i].classList.remove('current');
                        };
                        //add current class back to the clicked tab
                        this.className += ' current';
                        //get data-tab attribute of what has been clicked
                        let matchingTab = this.getAttribute('data-tab');
                        //add current class to the tabContent element thats id matches the data-tab of the clicked tab
                        document.getElementById(matchingTab).className += ' current';
                    })
                }
            })
        }

        tabFunc('#userTab');

    </script>
    <%- include('./common/footer') %>